:host {
  .container {
    background-color: rgba(103, 58, 183, .2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  app-journal-filter, app-journal-list {
    width: 100%;
  }
}
