<div class="container">
  <div class="actions">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Unesite tekst pretrage</mat-label>
      <input matInput placeholder="Pretraži...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

  <mat-card>
  <span>
      Dr. Marko Markovic
  </span>
    <div>
    <mat-icon>edit</mat-icon>
    <mat-icon>delete</mat-icon>
    </div>
  </mat-card>

</div>
